.cart-items{
   margin-top: 70px;
    /* min-height: 65vh; */
    padding: 10px;
    
  
}
.cart-items .items {
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.593);
    margin-block:10px ;
    padding-inline: 10px;
}
.cart-items .items .logo{
width:100px;
display: block;
height: 100px;
}
.cart-items .items img{
    width: 100%;
    height: 100%;
}
.cart-items .items h2{
    margin: 5px;
}

.cart-items .items .rating{
    display: flex;
    gap: 80px;
}

.cart-items .item-box{
display: flex;
justify-content: space-between;
align-content: center;
width: 100%;
}

.cart-items  .item-btn{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100px;
}
.btn-delete{
    padding: 10px 15px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: 0;
    transition: all 400ms;
    border-radius: 20px;

}

.btn-delete:hover{
    color: red;
    background-color: white;
    border: 1px solid red;
}
.price{
    color: green;
}
.rate i{
color: yellow;
}

.page-empty{
    height: 60vh;
    display:flex ;
    align-items: center;
    justify-content: center;
}

.prices{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px ;
    padding: 10px;
}
.prices div{
    font-weight: 600;
    font-size: 18px;
}
.prices #totalPrice{
    color: green;
    font-size: 20px;
}
.prices .btn-checkOut,.btn-Request{
    padding: 10px 30px;
    background-color: #f4f1eca6;
    cursor: pointer;
    border-radius: 20px;
    color: #413f3f;
    font-size: 15px;
    border: 0;
    font-weight: 600;
    transition:300ms all;
    color: inherit;
    text-decoration: none;
}
.prices .btn-checkOut:hover,.btn-Request{
    border: 1px solid white;
    color: rgb(48, 44, 44);
    background-color: var(--main-color);
    border: 1px solid rgb(48, 44, 44);
}
.btn-Request{
    background-color: #3ce42669;

}
.btn-Request:hover{
    background-color: #33b622d7;

}
#cart-btn{
    margin-bottom: 100px;
}
